<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Sales Leaders - Admin</title>
		<link rel='stylesheet' href='/stylesheets/admin.css' />
	</head>
	<body>
		<h1><a href="/">Sales Leaders</a> administration</h1>

		<form method="POST">

			<input type="Submit" value="save" />

			<% var CATEGORY_NAMES = ['quarter', 'month', 'rep', 'sdr']; %>
			<% var personIndex = 0; %>

			<% _.forEach(CATEGORY_NAMES, function(category){ %>

				<% var people = categories[category]; %>

				<div class="category <%= category %>">

					<h2><%= category %></h2>
					<ol>

					<% _(people).forEach(function(person){ %>
						<li class="person">
							<% personIndex++; %>

							<%- hidden_field_tag('people['+personIndex+'][category]', category) %>

							<label class="name">
								<span>Name</span>
								<%- text_field_tag('people['+personIndex+'][name]', {
									value: person.name }) %>
							</label>

							<label class="office">
								<span>Office</span>
								<%- text_field_tag('people['+personIndex+'][office]', {
									value: person.office }) %>
							</label>

							<% if(category == 'quarter' || category == 'month') { %>

								<label class="quota">
									<span>Quota</span>
									<%- text_field_tag('people['+personIndex+'][quota]', {
										value: Math.round(person.quota*100),
										pattern: '^\\d+$' }) %>%
								</label>

								<label class="acv">
									<span>ACV</span>
									$<%- text_field_tag('people['+personIndex+'][acv]', {
										value: Math.round(person.acv/1000),
										pattern: '^[\\d\\.]+$' }) %>K
								</label>

							<% } else if(category == 'sdr' || category == 'rep' ) { %>

								<label class="leads">
									<span>Leads</span>
									<%- text_field_tag('people['+personIndex+'][leads]', {
										value: person.leads,
										pattern: '^\\d+$' }) %>
								</label>

							<% } %>
						</li>
					<% }); %>

					</ol>

				</div>



			<% }); %>

			<input type="Submit" value="save" />

			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
			<script src="scripts/thirdparty/typeahead.min.js" type="text/javascript"></script>
			<script type="text/javascript">
				$(function(){

					$.getJSON("http://10.4.4.251:3001/floorplan/people") //TODO point to production floorplan after CORS is enabled
						.done(function(people){

							var salespeople = people.filter(function(person){
								return (person.tags.indexOf) && (person.tags.indexOf('sale') >= 0);
							});

							var dataset = {
								name: 'people',
								local: people,
								valueKey: 'fullname'
							};

							var nameEditEvents = {
								"typeahead:autocompleted": function(event, person){
									var officeInput = $(this).closest('.person').find('.office input');
									officeInput.val(person.office || "");
								},
								//convert Enter to Tab
								"keypress": function(event){
									if(event.keyCode == 13){ //enter
										event.preventDefault();
										var tabEvent = $.Event("keydown");
										tabEvent.which = 9; //tab
										$(this).trigger(tabEvent);
									}
								}
							};

							$(".name input")
								.typeahead(dataset)
								.bind(nameEditEvents);
						})
						.fail(function(jqXHR, textStatus, err){
							console.error("failed to download list of people", textStatus, err);
							console.error(jqXHR);
						});
				});
			</script>

		</form>
	</body>
</html>