<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Sales Leaders - Admin</title>
		<link rel='stylesheet' href='stylesheets/admin.css' />
	</head>
	<body>
		<h1>Sales Leaders</h1>

		<form method="POST">

			<input type="Submit" value="save" />

			<% var personIndex = 0; %>

			<% _.forEach(["quarter", "month"], function(period){ %>

				<div class="<%= period %>">

					<h2><%= period %></h2>
					<ol>

					<% _(people).where({ period: period }).sortBy('rank').forEach(function(person){ %>
						<li class="person">
							<% personIndex++; %>

							<%- hidden_field_tag('people['+personIndex+'][period]', period) %>

							<label>
								<span>Name</span>
								<%- text_field_tag('people['+personIndex+'][name]', {
									value: person.name,
									placeholder: 'ex: Shadi Baqleh' }) %>
							</label>

							<label>
								<span>Quota</span>
								<%- text_field_tag('people['+personIndex+'][quota]', {
									value: person.quota*100,
									pattern: '^\\d+$',
									placeholder: 'ex: 110 (for 110%)' }) %>%
							</label>

							<label>
								<span>ACV</span>
								$<%- text_field_tag('people['+personIndex+'][acv]', {
									value: person.acv/1000,
									pattern: '^[\\d\\.]+$',
									placeholder: 'ex: 50 (for $50,000)' }) %>K
							</label>
						</li>
					<% }); %>

					</ol>

				</div>

			<% }); %>

			<input type="Submit" value="save" />

		</form>
	</body>
</html>